<h1>OO Vs. Functional Demo</h1>
<hr />

<div class="results">
  <div class="one">
    <h3>OO Result:</h3>
    <pre>
      <%= @result_one %>
    </pre>
  </div>
  
  <div class="two">
    <h3>Functional Result:</h3>
    <pre>
      <%= @result_two %>
    </pre>
  </div>
</div>
